* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    box-sizing: border-box;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.hide {
    display: none;
}
.show {
    display: block;
}

@import 'base/variables';
@import 'block/nav.scss';
@import 'block/links';
@import 'block/menu';
@import 'block/tabs';