.tabs {
    position: relative;
    &__item {
        width: calc(100% - 340px);
        padding: 16px 21px;
        position: absolute;
        left: 340px;
        top: -320px;
    }
    &__item-header {
        display: grid;
        grid-template-columns: 1.3fr repeat(4, 1fr);
        grid-template-rows: repeat(2, 75px);
        .info {
            position: relative;
            grid-column: 1/2;
            grid-row: 1/3;
            .img {
                display: block;
                width: 58px;
                height: 58px;
                border-radius:100%;
                object-fit: fill;
            }
            .status {
                width: 17px;
                height: 17px;
                border-radius: 100%;
                background-color: #fff;
                position: absolute;
                top: 45px;
                left: 40px;
            }
            .name {
                position: absolute;
                display: block;
                font-weight: 600;
                font-size: 25px;
                top: 0;
                left: 70px;
            }
            .descr {
                position: absolute;
                display: block;
                font-weight: 600;
                font-size: 12px;
                top: 35px;
                left: 70px;
            }
            .current {
                position: absolute;
                display: block;
                left: 320px;
                top: 0;
            }
        }
        .online {
            grid-column: 2/3;
            grid-row: 1/2;
            font-size: 12px;
            font-weight: 400;
            color:#808080;
            span {
                color: #3E3E3E;
            }
        }
        .risks {
            position: relative;
            grid-column: 2/3;
            grid-row: 2/3;
            .subtitle {
                font-size: 12px;
                color:#808080;
                margin-top: -20px;
            }
            .number {
                font-size: 22px;
                font-weight: 600;
            }
            .percentage {
                font-size: 10px;
                font-weight: 400;
                position: absolute;
                left: 40px;
                top: 16px;
                color: $red;
            }
            .sign {
                position: absolute;
                left: 36px;
                top: 5px;
            }
        }
        .production {
            position: relative;
            grid-column: 3/4;
            grid-row: 2/3;
            .subtitle {
                font-size: 12px;
                color:#808080;
                margin-top: -20px;
            }
            .number {
                font-size: 22px;
                font-weight: 600;
            }
            .percentage {
                font-size: 10px;
                font-weight: 400;
                position: absolute;
                left: 52px;
                top: 16px;
                color: $red;
            }
            .sign {
                position: absolute;
                left: 48px;
                top: 5px;
            }
        }
        .activity {
            grid-column: 4/5;
            grid-row: 2/3;
            position: relative;
            .subtitle {
                font-size: 12px;
                color:#808080;
                margin-top: -20px;
            }
            .number {
                font-size: 22px;
                font-weight: 600;
            }
            .percentage {
                font-size: 10px;
                font-weight: 400;
                position: absolute;
                left: 55px;
                top: 16px;
                color: $red;
            }
            .sign {
                position: absolute;
                left: 50px;
                top: 5px;
            }
        }
        .link-back {
            grid-column: 5/6;
            grid-row: 1/2;
            .link {
                position: relative;
                display: block;
                text-align: right;
                text-decoration: none;
                color: $main-color;
                &:hover {
                    text-decoration: underline;
                }
                .back {
                    margin-top: 3px;
                }
            }
        }
        .contacts {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;
            grid-column: 5/6;
            grid-row: 2/3;
            .contact {
                margin-left: 15px;
                & img:hover {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    &__item-analitics {
        .header {
            margin-top: 33px;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 300;
        }
        .warnings {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .warning {
            position: relative;
            width: 400px;
            height: 74px;
            border-radius:3px;
            border: 1px solid $red;
            padding-top: 20px;
            padding-left: 40px;
            font-size: 13px;
            color:#3E3E3E;
        }
        .img {
            position: absolute;
            left: 10px;
            top: 30px;
        }
    }
    &__item-main {
        .header {
            margin-top: 73px;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 300;
        }
        .data {
            width: 100%;
            min-height: 195px;
            background-color: #F3F2F2;
            border-radius: 3px;
            color: #989898;
            font-size: 13px;
            font-weight: 400;
            text-align: center;
            padding-top: 90px;
        }
    }
    &__item-statistic {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__item-chart {
        .header {
            margin-top: 27px;
            margin-bottom: 20px;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 300;
            text-align: left;
        }
        .list {
            position: relative;
            padding-left: 0;
            list-style: none;
        }
        .list-item {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #F3F2F2;
            font-size: 13px;
            font-weight: 300;
            &:nth-child(1) {
                color:#808080;
            }
        }
        .criterium {
            width: 205px;
            &:nth-child(2) {
                padding-left: 20px;
            }
        }
        .time {
            width: 71px;
            padding-left: 10px;
        }
        .percent {
            width: 70px;
            padding-left: 20px;
        }
        .growth {
            width: 50px;
            text-align: left;
        }
        .square {
            width: 10px;
            height: 10px;
            position: absolute;
            left: 0;
            margin-top: 7px;
            opacity: 0.5;
            &.red {
                background-color: $red;
            }
            &.yellow {
                background-color:$yellow;
            }
            &.green {
                background-color:#A6C8B3;
            }
        }
        .dicsipline {
            width: 400px;
            justify-content: flex-start;
            .list-item {
                &.first {
                    text-align: center;
                    align-items:center
                }
            }
            .criterium {
                margin-right: 15px;
                text-align: center;
                width: 65px;
            }
            .time {
                margin-right: 15px;
                padding-left: 0;
                width: 95px;
            }
            .percent {
                margin-right: 15px;
                padding-left: 0;
                width: 90px;
            }
            .growth {
                width: 100px;
                &:first-child {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }

.wrapper {
    min-height: 134px;
    border-bottom: 1px solid #E4E4E4;
}
.comment {
    font-size: 7px;
    margin-top: 8px;
    margin-left: 12px;
    position: absolute;
    &.red {
        color: $red;
    }
    &.green {
        color: #00983E;
    }
}
}
