.tabs {
    position: relative;
    &__item {
        width: calc(100% - 340px);
        min-height: 134px;
        border-bottom: 1px solid #E4E4E4;
        padding: 16px 21px;
        position: absolute;
        left: 340px;
        top: -306px;
        
    }
    &__item-header {
        display: flex;
        flex-direction: row;
        position: relative;
        &.img {
            width: 58px;
            height: 58px;
            border-radius: 100%;
            object-fit: fill;
        }
        &.current {
            width: 15px;
            position: absolute;
            display: block;
            top: 0;
            left: 305px;
        }
        &.status {
            position:absolute;
            display: block;
            left: 40px;
            top: 43px;
            width: 17px;
            height: 17px;
            background: #fff;
            border-radius: 100%;
        }
        &.name {
            font-size: 24px;
            position: absolute;
            top: 2px;
            left: 70px;
        }
        &.descr {
            font-size: 11px;
            color: #808080;
            position: absolute;
            top: 30px;
            left: 71px;
        }
        &.online {
            color:  #808080;
            font-size: 11px;
            span {
                margin-left: 3px;
                color: #3E3E3E;
            }
        }
        &.subtitle {
            font-size: 13px;
            color: #808080;
            margin-top: 25px;
            &:nth-child(4) {
                margin-top: 52px;
            }
        }
        &.number {
            font-size: 17px;
            margin-top: 10px;
        }
        &.percentage {
            font-size: 9px;
            color: $red;
            position: absolute;
            left: 30px;
            top: 75px;
        }
        &.sign {
            position: absolute;
            left: 25px;
            top: 69px;
            width: 7px;
        }
        &.divider {
            display: block;
            position: absolute;
            right: 0;
            top: 50px;
            height: 37px;
            width: 1px;
            color: black;
        }
        &.link {
            text-decoration: none;
            color: $main-color;
            text-align: right;
            font-size: 10px;
            padding-left: 100px;
            & img {
                width: 12px;
                margin-right: 5px;
                margin-top: 3px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        &.contacts {
            margin-top: 30px;
            display: flex;
            justify-content:space-around;
        }
        &.contact {
            display: block;
            & img:hover {
                width: 110%;
            }
        }
    }
}
.block {
    margin-left: 60px;
    position: relative;
    min-width: 250px;
    &:nth-child(1) {
        margin-left: 0;
        width: 300px;
    }
    &:nth-child(3) {
        padding-top: 15px;
        .percentage {
            left: 37px;
        }
        .sign {
            left: 35px;
        }
    }
    &:nth-child(4) {
        padding-top: 15px;
        .percentage {
            left: 42px;
        }
        .sign {
            left: 38px;
        }
    }
}